/* ================================= 
  Base Element Styles
==================================== */
@import url('https://fonts.googleapis.com/css2?family=Charm:wght@700&family=Merriweather:wght@300;400;700&display=swap');
* {
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    font-family: "Merriweather", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
}
header {
    margin: 0;
    background-color: #2D3945;
    color: #fff;
    text-align: center;

}
main {
    max-width: 80%;
    margin: 0 auto;
}
h1 {
    font-size: 16px;
    margin: auto;
    padding: 20px;
}
form {
    margin: 0 auto 100px;
}
legend {
    border-top: solid #000 2px;
    padding-top:25px;
    width: 100%;
}
fieldset {
    border: none;
}
input, select, textarea, button {
    border: none;
    border-radius: 3px;
    background-color: #EEF0F1;
}
input::placeholder {
    font-style: italic;
    text-align: right;
    opacity: .5;
}
input:focus, select:focus, textarea:focus {
    outline: solid #4EBBB5 3px;
}
input:hover, select:hover, textarea:hover, button:hover {
    background-color: #eef2f2;
}
select:invalid { 
    opacity: .5;
}
label {
    padding: 20px 0;
    font-size: .75em;
    font-weight: bold;
}
textarea {
    min-height: 100px;
}
button {
    background-color: #4EBBB5;
    color: #fff;
    font-weight: 400;
}
button:hover {
    background-color: #0EB4B9
}

/* ================================= 
  Layout Styles
==================================== */
.intro, legend {
    text-align: center;
    margin: 40px auto; 
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
fieldset {
    margin: 0 auto;
    padding: 10px 0;
}
legend {
    display: inline-block;
    font-size: 1.4rem;
}
.contact-fieldset input, select, textarea, button {
    flex-grow: 1;
    margin: 10px 0;
    padding: 14px 18px;
}
.contact-fieldset label {
    flex-basis: 100%;
}
button, textarea {
    width: 100%;
    padding: 20px;
}
#zipcode {
    flex: 0 1 50%;
}
/* ================================= 
  Media Queries
==================================== */

@media screen and (min-width: 768px) {
    .contact-fieldset label {
        /* Uniform size & alignment */
        flex-basis: 40%;
    }
    #zipcode {
        flex: 0 1 25%;
        margin-right: auto;
    }
}
 